$redes: (
    Instagram: #3f729b,
    Facebook: #3b5998,
    Twitter: #00acee,
);

.botonInstagram {
    color: map-get($map: $redes, $key: Instagram);
}

.botonFacebook {
    color: map-get($map: $redes, $key: Facebook );
}

.botonTwitter {
    color: map-get($map: $redes, $key: Twitter);
}