@import "./botones" ;
@import "./maps";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
  font-family: sans-serif,Arial,Helvetica;
  background-color: #008000;
  overflow-anchor: none;
}

.ingreso {
    font-family: sans-serif,Arial,Helvetica;
    text-align: right;
    line-height: 3;
    letter-spacing: 1.5px;
}

.ingresoLetras {
    text-decoration: none;
    box-shadow: none;
    color: white;
    font-weight: 700;
}

.titulo {
    font-family: sans-serif,Arial,Helvetica;
    text-align: center;
    font-size: 80px;
    text-decoration: none;
    color: black;

}

.imagenTitulo {
    text-align: center; 
}

.escudosNacionales {
  width: 120px; height: 120px;
}


.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
  padding: 10px;
}

.menu > li > a{
	display: block;
	padding: 10px;
	color:black;
	text-decoration: none;
}

.menu li a:hover{
	color: black;
	transition: all .3s;
}


.submenu{
	background: green;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: inline;
	padding: 0px;
	color: #fff;
	font-family: sans-serif,Arial,Helvetica;
	text-decoration: none;
  background: gray;
  border: 1px solid black;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.menu__content__subtitulo{
    font-size: larger
}

  .textoInicioSesion {
    text-align: center;
  }

  .correo {
    margin: 30px;
  }

  .boton {
    padding: 10px;
    background-color: black;
    color: white;
  }

  .contrasena {
    background-color: white;
  }

  .correoLetras {
    font-size: large;
  }

  .tabla {
    background-color: #9FCF9F;
    margin: 0 auto 5px;
    border: black 1px solid;
  }

  td {
    border: black;
  }

  .clasificados {
    text-align: center;
  }

  .pais {
    display: inline;
  }

  h2 {
    text-align: center;
  }


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  justify-content: space-around;
  
}

.imagenesIndex:hover {
  transition: transform 2s;
  transform: scale(1.5, 2)
}


.grid-container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tituloDePagina {
  text-align: center;
}

.logos {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

h1 {
margin: 50px;
text-align: center;
}

h2 {
  margin-bottom: 20px;
  margin-left: 50px; margin-right: 50px;
  text-align: justify;
}

h3 {
  margin: 10px;
  text-align: center;
}

@media screen and (max-width: 600px) {.grid-container {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    display: flex;
    justify-content: center;
  }
  .imagenesIndex {
    height: 200px; width: 300px;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    text-align: left;   
  }
  .navegacion{
    margin: 30px auto;
      display: flex;
      justify-content: center;
      text-align: center;}
  .titulo {
    font-size: 60px;
  }
}